.App {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./icons/windowswallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
  color: white;
  text-shadow: 2px 2px 2px #000;
}